@font-face {
    font-family: "Open Sans";
    src: url("/assets/fonts/OpenSans-Regular.ttf")
}
@font-face {
    font-family: "Lato";
    src: url("/assets/fonts/Lato-Regular.ttf")
}
$header-font: 'Lato', sans-serif;
$body-font: 'Open Sans', sans-serif;