---
---
@charset "UTF-8";
@import "fonts";
@import "colors";
@import "monokai";
@import "header";

body {
    margin: 0;
    font-family: $body-font;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $header-font;
}

.site-header, .main-content, .site-footer {
    padding: 0 15%;
}

@media screen 
  and (min-device-width: 320px) 
  and (max-device-width: 640px) 
  and (orientation: portrait) {
    .site-header, .main-content, .site-footer {
        padding: 0;
    }
}
