<!DOCTYPE html>
<html lang="pl">
    {% include head.html %}
    <body>
        {% include header.html %}
        <main class="main-content">
            {{content}}
        </main>
        {% include footer.html %}
</html>
